
<!DOCTYPE html>
<head>
    <title>Three.js Template</title>

    <!--Css Connection-->
    <link rel="stylesheet" href="style.css">

    <!--Three.js Import Map-->
    <script type="importmap">
    {
        "imports": {
        "three": "https://ga.jspm.io/npm:three@0.182.0/build/three.module.js"
        }
    }
    </script>

    <!--Three.js Scene-->
    <script src="script.js" type="module">
    </script>

</head>
<body>
    <h1>Three.js Template</h1>
    <canvas class="webgl"></canvas>
</body>